body {
  margin: 0;
  font-size: 10pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

header {
  background: #dfe4ea;
  border-bottom: 1px solid #70a1ff;
  padding: 5px;
  display: flex;
  gap: 1em;
}

.spacer {
  flex-grow: 1;
}
